/* ---------- GLOBAL BLOG ---------- */
/* ---------- BLOG FORM ---------- */
#blog-form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border: solid 1px black;
    box-shadow: 3px 3px;
    background-color: rgb(135, 179, 179);
}

input,
textarea {
    resize: none;
}

button {
    cursor: pointer;
}

/* ---------- BLOG POSTS ---------- */
.blog-posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-post {
    display: flex;
    flex-direction: row;
    width: 600px;
    margin-bottom: 30px;
    padding: 10px;
    border: solid 10px rgba(209, 199, 64, 0.192);
}

.blog-text>h3 {
    margin-top: 0;
    margin-left: 1rem;
}

.blog-text>p {
    margin-left: 0.5rem;
    font-size: 13px;
}

.blog-post-img {
    height: 300px
}

.img-blog {
    height: 300px;
}