/* ---------- GLOBAL GALLERY ---------- */
/* ---------- TITLE ---------- */

.div-title {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.title-gallery {
    text-align: center;
}

/* ---------- DISPLAY/ADD ICON ---------- */
.container-icon {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    bottom: 10%;
    left: 150px;
    width: 48px;
}

.icon-display {
    display: flex;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.container-new {
    position: absolute;
    right: 150px;
    bottom: 10%;
}

.container-new>a {
    display: flex;
    align-items: end;
}

#add-image,
#one-icon,
#mult-icon {
    cursor: pointer;
}

/* ---------- ADD IMAGE FORM ---------- */
.container-form-add {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    position: fixed;
    background-color: rgb(135, 179, 179);
    z-index: 3;
}

.form-add {
    position: relative;
    width: 300px;
    padding: 10px;
    border: solid 1px black;
    box-shadow: 3px 3px;
}

.title-add {
    margin-top: 0;
    margin-bottom: 0.25rem;
    margin-left: 0.2rem;
}

.require-add {
    margin-top: 0.25rem;
    margin-bottom: 0rem;
    font-size: 0.5rem;
    margin-left: 0.5rem;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.close-icon {
    cursor: pointer;
}

.confirm-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    /* translate: 12px 12px; */
    font-weight: 700;
    margin: 0;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    background-color: rgb(180, 170, 241);
    border-radius: 4px;
    border: 0.5px solid black;
    box-shadow: 2px 2px;
    cursor: pointer;
}

.confirm-add>p:hover {
    background-color: rgb(193, 186, 236);
    transform: scale(1.05);
}

/* ---------- SUB GALLERY TITLE ---------- */
.title-sub-gallery {
    text-align: center;
}

HR {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

/* ---------- GALLERY DISPLAY ---------- */
/* ---------- ONE DISPLAY ---------- */
.one-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.div-image {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 15px;
}

/* ---------- MULTI DISPLAY ---------- */
.mult-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mult-display > .div-image > img {
    width: 300px;
}


/* ---------- GALLERY IMAGE STYLE/BEHAVIOR ---------- */
.div-image:hover {
    transform: scale(102%);
    transition: 0.2s ease;
    opacity: 80%;
}

.text-image {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    visibility: hidden;
}

.div-image:hover>.text-image {
    visibility: visible;
}




