/* ---------- GLOBAL HOME ---------- */
/* ---------- HOME TITLE ---------- */
.div-title {
    text-align: center;
}

/* ---------- HOME TITLE ---------- */
.story {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.story p {
    text-align: justify;
}

.text-1 {
    padding-right: 10px;
}

.text-2 {
    padding-left: 10px;
}

/* ---------- HOME VIDEO ---------- */
.video {
    width: 100%;
}

/* ---------- HOME MERCH ---------- */
/* ---------- MERCH TITLE ---------- */
h2 {
    font-size: x-large;
    text-align: center;
}

/* ---------- T-SHIRTS ---------- */
.div-t-shirts {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.t-shirt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px;
}

.t-shirt a {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: 500;
}

.t-shirt img {
    width: 75%;
    height: auto;
}

.t-shirt div {
    position: absolute;
    bottom: 4%;
    left: 50%;
    translate: -50%;
}

.t-shirt p {
    margin: 0;
}

