.div-title {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.title-gallery {
    text-align: center;
}

.container-icon {
    position: absolute;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    bottom: 10%;
    left: 150px;
    width: 48px;
}

.icon-display {
    display: flex;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.container-new {
    position: absolute;
    right: 150px;
    bottom: 10%;
}

#add-image,
#one-icon,
#mult-icon {
    cursor: pointer;
}

.title-sub-gallery {
    text-align: center;
}

HR {
    width: 700px;
}

.one-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.one-display>img {
    width: 500px;
    margin: 20px;
}

.mult-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mult-display>img {
    width: 300px;
    margin: 15px;
}

.container-new>a {
    display: flex;
    align-items: end;
}

.container-form-add {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    position: fixed;
    background-color: rgb(135, 179, 179);
}

.form-add {
    position: relative;
    width: 300px;
    padding: 10px;
    border: solid 1px black;
    box-shadow: 3px 3px;
}

.title-add {
    margin-top: 0;
    margin-bottom: 0.25rem;
    margin-left: 0.2rem;
}

.require-add {
    margin-top: 0.25rem;
    margin-bottom: 0rem;
    font-size: 0.5rem;
    margin-left: 0.5rem;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.close-icon {
    cursor: pointer;
}

.confirm-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    /* translate: 12px 12px; */
    font-weight: 700;
    margin: 0;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    background-color: rgb(180, 170, 241);
    border-radius: 4px;
    border: 0.5px solid black;
    box-shadow: 2px 2px;
    cursor: pointer;
}

.container-form-add:hover {
transform: scale(101%);
}

.confirm-add > p:hover {
    background-color: rgb(193, 186, 236);
    transform: scale(1.05);
}