/* ---------- BLOG ---------- */

/* ---------- FORM ---------- */

#blog-form {
    display: flex;
    justify-content: start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-form {
    width: 500px;
}

input,
textarea {
    resize: none;
}

button {
    cursor: pointer;
}

/* ---------- POSTS ---------- */

.blog-posts {
    max-width: 800px;
    margin-bottom: 30px;
    margin-left: 30px;
    display: block;
}

.blog-post {
    display: flex;
    flex-direction: row;
    max-height: 400px;
    margin-bottom: 30px;
}

.blog-text>h3 {
    margin-top: 0;
    margin-left: 1rem;
}

.blog-text>p {
    margin-left: 0.5rem;
    font-size: 13px;
}

.blog-post-img {
    padding: 10px;
}

.img-blog {
    width: 300px;
}