li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.d-flex {
    display: flex;
}

.align-center {
    align-self: center;
}

.justify-even {
    justify-content: space-evenly;
}

.w-full {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    margin: 15px;
}

.mxy-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.bg-nav {
    background-color: blueviolet;
}

.w-third {
    width: 33%;
}

.h-auto {
    height: auto;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-xxl {
    font-size: xx-large;
}

.text-l {
    font-size: large;
}

.w-75 {
    width: 75%;
}

.justify-center {
    justify-content: center;
}

.h-300 {
    height: 300px;
}

.bg-footer {
    background-color: grey;
}

.flex-col {
    flex-direction: column;
}

.pt-0 {
    padding-top: 0;
}

.mt-10 {
    margin-top: 10px;
}

.border {
    border: solid black;
    border-style: groove;
}

.text-shadow {
    text-shadow: 1px 1px;
}

.mxy-third {
    margin-left: 17%;
    margin-right: 17%;
}

.mtb-5 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.text-darkGold {
    color: darkgoldenrod;
}

.mb {
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
}

.dropcontent {
    position: absolute;
}

.dropcontent a {
    display: block;
    font-size: large;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.touched {
    background-color: lightgray;
}